.project {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}

.project:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  display: block; 
  object-fit: cover; 
}

.project-details {
  padding: 1rem;
  background-color: white; 
}

.project-title {
  margin-top: 0;
  color: #333; 
}

.project-description {
  color: #666; 
}

.project-links {
  margin-top: 1rem;
}

.project-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #00BFFF; 
  font-weight: bold;
}

.project-link:hover,
.project-link:focus {
  text-decoration: underline; 
}
